.choiceRegiArea{
	height: 100%;
}
.btn-backImage{
    position: relative;
    float: left;
    left: 0px;
    width: 50%;
    height: 100%;
}

.regi1{
	
	background:url(../views/login/regi1.png) no-repeat;
	background-size: cover;
	
}
.regi2{
	
	background:url(../views/login/regi2.png) no-repeat;
	 background-size: cover;
}

/* 버튼 이미지쓰는법
#btn_search{
    position: absolute;
    left: 20px;
    top: 12px;
    background: url(../image/goodsAllList/search-hover.svg) no-repeat;
    background-size: 23px 23px;
    border: none;
    width: 23px;
    height: 23px;
    z-index: 20;
} */

/* ---------------------------------- */
/*      REGI                          */
/* -----------------------------------*/
.UserRegiForm{
	margin-left : auto;
	margin-right : auto;  
	padding: 30px 40px;
	 
}
.UserRegitb{
	padding-top: 20px;
    padding-bottom: 40px; 
      
}
.UserRegitb th{
 	padding: 11px 0 10px 18px;
    border: 1px solid #ddd;
    border-bottom-width: 0;
    color: #353535;
    text-align:   center;
   /*  background: #eeeeee;  */
   background-color: #fafafa;
    font-weight:bold !important;
    font-size: smaller;
    vertical-align: middle; 
	width: 30%;
} 
.UserRegitb td{
	padding: 11px 10px 10px;
    border-top: 1px solid #ddd;
    color: #353535;
    vertical-align: middle;
    
}
.UserRegitb a{
	text-decoration:none;
	text-align: center;
    font-size: 11px;
    padding: 5px 10px 3px 10px;
    background: #f7f7f7;
    color: #a2a2a2;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    line-height: 100%;
    overflow: hidden;
    transition: all 0.5s;
	/*
	//다른 색
	text-decoration:none;
	display: inline-block;
    
    
    padding: 0 10px;
    background: #333;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
     
    line-height: 29px;
    vertical-align: middle;
     border-radius: 2px; 
     
     font-family:'NanumBarunGothicWeb'; */
}
 input[type=button] { 
    background: #fff;
    color: #444!important;
    border-color: #ddd;   
	cursor: pointer;	
} 
 input[type=button]:hover { 
    background: #eeeeee;
    color: #444!important;
    border-color: #ddd;   
	cursor: pointer;	
} 

.movelinkbutton a{
	text-decoration:none;
    font-size: 11px;
    curcor: pointer;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
	overflow: hidden;
    transition: all 0.5s; 
    padding: 10px;
    letter-spacing: 2px;
    margin: 5px;
    font-size: 15px;	
   
  
}
#regiBTN{
	background: #000;
	color: #e7e7e7;
	border: 1px solid #000;
}	
#regiBTN:hover{
	background-color : yellow;
	color: black;
	border: 1px solid #cbcbcb;
}
#cancelBTN{
    /* background: #f7f7f7;
    color: #a2a2a2; */
    color: #353535;
    background: #ffffff;
    border: 1px solid #cbcbcb;
}
h3{
	margin-left : auto;
	margin-right : auto;  
	padding: 30px 40px;
	font-family: '나눔고딕','Nanum Gothic';
  	font-weight: 800;
}
input[type="text"]{
	padding: 5px;
}
input[type="password"]{
	padding: 5px;
}
